ROLE=client
DTUN_ARGS="--max-rate-bps 80000000 --ports 80,443,23333 --switch-interval 10m --endpoint 47.242.247.74:80 --address 10.255.255.1/30 --cert /etc/dtun/client.crt --key /etc/dtun/client.key --peer-pin REPLACE_WITH_SERVER_SPKI_SHA256_HEX"
