ROLE=server
DTUN_ARGS="--max-rate-bps 80000000 --ports 80,443,23333 --server --endpoint 0.0.0.0:80 --allow-ip 59.110.163.61 --address 10.255.255.2/30 --cert /etc/dtun/server.crt --key /etc/dtun/server.key --peer-pin REPLACE_WITH_CLIENT_SPKI_SHA256_HEX"
