ROLE=server
DTUN_ARGS="--max-rate-bps 80000000 --ports 20000,20001,20002 --server --endpoint 0.0.0.0:20000 --allow-ip 192.0.2.10 --address 10.255.255.2/30 --cert /etc/dtun/server.crt --key /etc/dtun/server.key --peer-pin REPLACE_WITH_CLIENT_SPKI_SHA256_HEX"
